
/* My personal css file for (hopefully eventually)  the entire web! */

html, body {
	background-color: #262626 !important;
}
::selection, ::-webkit-selection {
	background:rgba(57, 60, 63, 0.99);
	/* color: #393c3f; */
}

::-moz-selection {
	background:rgba(57, 60, 63, 0.99);
	/* color: #393c3f; */
}

h1 {
	color: #E05F27 !important;
	/* font-weight : bold; */
	/* font-family: 'Open Sans', sans-serif; */
}

h2 {
	color: #2F7BDE !important;
	/* font-family: 'Open Sans', sans-serif; */
}

h3 {
	color: #598249 !important;
	/* font-family: 'Open Sans', sans-serif; */
}

h4, h5, h6, h7, li {
	color: #909396 !important;
	/* font-family: 'Open Sans', sans-serif; */
}

/*  Simple colors here */
/*
h1, h2, h3, h4, h5, h6, h7, li {
	color: #909396;
}
*/

/* Source code blocks */
pre {
	background-color: #2B2B2C;
	color: #909396;
	border-color: black;
}

p, th, td {
	color: #909396;
	/* font-family: 'Open Sans', sans-serif; */
}

/* Tables (dammit bootstrap) */
.table {
	background-color: #262626;
	border-color: black;
}
.table-striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {
	background-color: #2B2B2C;
}
.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
	background-color: #363638;
}
.table-bordered > thead > tr > th,
.table-bordered > tbody > tr > th,
.table-bordered > tfoot > tr > th,
.table-bordered > thead > tr > td,
.table-bordered > tbody > tr > td,
.table-bordered > tfoot > tr > td {
	border-color: black;
}

/* links */
a:link, a:hover, a:active {
	color: #bd3832 !important;
}

a:visited {
	color: #a52f29 !important;
}

/* footer */
footer {
	height: auto;
	background-color: #2B2B2C;
}

code {
	background-color: #303030;
	color: #909396;
}


.boxed-group {
	background-color: #262626 !important;
	color: #262626;
}
.boxed-group > h3 {
	background-color: #262626 !important;
    background-clip: border-box !important;
    background-origin: padding-box !important;
}
